.header-container {
  padding: 20px;
  height: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #6e7275;
  cursor: pointer;
}
.nav-item:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 576px) {
    .nav-list{
        text-align: center;
    }
    .nav-item{
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .block-nav__menu{
        margin-top: 10px;
    }

}
