.header-container {
  height: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #6e7275;
  cursor: pointer;
}

@media (min-width: 576px) {
    

}

@media (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 992px) {
  .nav-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .nav-item:not(:last-child) {
    margin-right: 30px;
  }
}
